<div id='main'ng-controller="ChatCtrl">
  <div id="logout">
    <button class="btn waves-effect waves-light" type="submit" ng-click="logOff()">log off
      <i class="material-icons"></i>
    </button>
  </div>

  <div align='middle'><i class="medium material-icons">forum</i></div>
  <div id="messagesDiv" scroll-glue="!glued">
    <div ng-repeat="message in messages | orderBy: reverse" emit-last-repeater-element>
      
    <div class='card-panel word'>
      <strong>{{message.name}}</strong> |
  
          {{message.text}}
    </div>
  </div>

  </div>

  <form ng-submit="addMessage()" align='middle'>
    <input type="text" id="messageInput" placeholder="Message..." ng-submit="addMessage()" ng-model="messageText"/>
    <button class="btn waves-effect waves-light" type="submit" name="action">
      <i class="material-icons">send</i>
    </button>
  </form>


  <div id="youTube" ng-if="youtubeLinks.length">
    <img align='middle' src="../assets/YouTube.png">
    <div ng-repeat="youtube in youtubeLinks"> <div>Posted by: {{youtube.name}}</div>
    <iframe width="90%" height="315" ng-src="{{ytTrustSrc(youtube.text)}}"  frameborder="0" allowfullscreen onended="window.ended()"></iframe> 
    <img src="../trash.png" class="youTrash" ng-click="remove(youtube, true, false)">
  </div>
</div>

<div ng-if="soundcloudLinks.length">
  <img align='middle' src="../assets/soundcloud.png">
  <div ng-repeat="soundcloudlink in soundcloudLinks" id="soundclod">  <div>Posted by: {{soundcloudlink.name}}</div>
    <iframe width="80%" height="166" scrolling="no" frameborder="no" ng-src="{{scTrustSrc(soundcloudlink.text)}}"></iframe>
    <img src="../trash.png" class="soundTrash" ng-click="remove(soundcloudlink, false, true)">
  </div>
</div>

</div>

