<div  style='width:500px'>
  These videos will show you how to... 

  <div align='middle'>1.) get a firebase reference</div>
  <iframe  class='helpFrames' width='90%' height='315' ng-src='{{ytTrustSrc(links.firebase)}}' frameborder='0' allowfullscreen ></iframe> 
  <div align='middle'>2.) use the app</div>
  <iframe  class='helpFrames' width='90%' height='315' ng-src='{{ytTrustSrc(links.howTo)}}' frameborder='0' allowfullscreen ></iframe> 

  <div align='middle'><a ng-click='goBack()' href=''><strong>go back</strong></a></div>
</div>
