<div  style='width:500px'>
  These gifs will show you... 
<hr>
1.) how to get a firebase reference
<a href='http://gyazo.com/183505b2360587f786956a0de871ed9a'><img src='http://i.gyazo.com/183505b2360587f786956a0de871ed9a.gif' style='width:500px'/></a>
<hr>
<a href='http://gyazo.com/9d54d9572be32ce6ed52aac3ff0a91c2'><img src='http://i.gyazo.com/9d54d9572be32ce6ed52aac3ff0a91c2.gif' style='width:500px'/></a>
<hr>
<a href='http://gyazo.com/76f6c63c75b215715f12279b34ff0e99'><img src='http://i.gyazo.com/76f6c63c75b215715f12279b34ff0e99.gif' style='width:500px'/></a>
<hr>
2.) how to use the app
<a href='http://gyazo.com/aaa38e05b87299a4afec836436d1ed96'><img src='http://i.gyazo.com/aaa38e05b87299a4afec836436d1ed96.gif' style='width:500px'/></a>
<hr>
<a href='http://gyazo.com/f857ac5c9cbdcf41401550f746f02fd0'><img src='http://i.gyazo.com/f857ac5c9cbdcf41401550f746f02fd0.gif' style='width:500px'/></a>
<div align='middle'><a ng-click='goBack()' href='#'><strong>go back</strong></a></div>
</div>
